.animal-tracks{
    width: 90vw;
    object-fit: cover;
    height: 250px;
    margin-top: 15px;
    opacity: .8;
    -webkit-border-top-left-radius: 1em;
    -webkit-border-top-right-radius: 1em;
    -webkit-border-bottom-right-radius: 1em;
    -webkit-border-bottom-left-radius: 1em;
}

