a{
    font-family: 'Hind Siliguri', sans-serif;
    margin-left: 20px;
    display: inline-block;
}
a:hover{
    text-decoration: underline;  
}
h2{
    font-family: 'Hind Siliguri', sans-serif;
}
Button{
    margin-top: 60px;
}
.nested-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

