@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400&display=swap');

.headerContainer{
    /* display: flex;
    flex-direction: row wrap; */
    display: inline-block;
    width: 97vw;

    border-style: solid;
    border-width: thin;
}
.logo{
    display: inline-block;

    border-style: solid;
    border-width: thin;
}
.right-nav{
    /* display: flex;
    flex-direction: row wrap; */
    display: inline-block;
    font-family: 'Hind Siliguri', sans-serif;
    color: black;
    /* text-align: right; */
    
    border-style: solid;
    border-width: thin;
}
a{
    color: black;
    text-decoration: none;
}

